# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.pyd
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.swp
*~

# macOS
.DS_Store

# Logs
*.log

# Environment files
.env
.env.*

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Docker
*.pid

# Jupyter Notebook
*.ipynb