absl-py
adjustText
aiohttp
aiosignal
alive-progress
altair
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
async-timeout
attrs
autopep8
Babel
backcall
beautifulsoup4
bleach
blinker
boto3
botocore
bs4
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
confection
cryptography
cycler
DateTime
debugpy
decorator
defusedxml
dill
Django
django-cors-headers
djangorestframework
docutils
entrypoints
et-xmlfile
exceptiongroup
executing
fastjsonschema
Fiona
fonttools
frozenlist
fsspec
gast
geopandas
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
holidays
html5lib
httpx
idna
imageio
importlib-metadata
importlib-resources
inflect
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras
kiwisolver
kombu
libclang
llvmlite
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
matplotlib
missingno
mistune
ml-dtypes
mplsoccer
multidict
nbclient
nbconvert
nbformat
networkx
nltk
notebook
numpy
oauthlib
openai
openpyxl
opt-einsum
packaging
pandas
pandasql
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
plotly
pluggy
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pydeck
pyee
pyflakes
Pygments
pynndescent
pyOpenSSL
pyparsing
pyproj
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
rich
rsa
scikit-learn
scipy
seaborn
selenium
Send2Trash
shapely
six
sniffio
soupsieve
spacy
SQLAlchemy
starlette
statsmodels
streamlit
tabulate
tenacity
tensorboard
tensorflow
termcolor
terminado
text-unidecode
thinc
tornado
tqdm
traitlets
typed-ast
typing-extensions
tzdata
urllib3
uvicorn
validators
wasabi
watchdog
wcwidth
webdriver-manager
webencodings
Werkzeug
wrapt
xgboost
XlsxWriter
yarl
unidecode
